@using FashionLike_Utilidades
@model FashionLike_Modelos.Models.ViewModels.PosteoHomeVM
@{
    ViewData["Title"] = "Home Page";
    int currentIndex = (int)ViewData["CurrentIndex"];
}

<div class="text-center">
    @if (Model.Posteos.Count > 0)
    {
        var posteo = Model.Posteos[currentIndex];
        <div class="text-center row" style="height:500px; width:800px">
        <div class="container col-6" >
                
                
                <img src="@($"{FashionLike_Utilidades.WC.ImagenRuta}{posteo.ImagenUrl}")" alt="@posteo.Nombre" style="height: 100%; width: 100%; object-fit: contain; " />
                
            </div>
            <div class=" col-6 align-content-center">
                <div style="margin-bottom:10px">
                    <h2>@posteo.Nombre</h2>
                    <p class="mt-4">@posteo.Descripcion</p>
                    <div class="w-74 btn-group " role="group">
                        <a href="@Url.Action("VotarGusta", new { Id = posteo.Id, currentIndex = ViewData["CurrentIndex"] })" class="btn btn-success"><i class="fas fa-heart"></i></a>

                    </div>
                    <div class="w-74 btn-group " role="group">
                        <a href="@Url.Action("VotarNoGusta", new { Id = posteo.Id, currentIndex = ViewData["CurrentIndex"] })" class="btn btn-success"><i class="fa fa-thumbs-down"></i></a>
                    </div>
                </div>
                
                <br />
                <div class="navigation-buttons mt-4">
                    <a href="@Url.Action("Index", "Home", new { currentIndex = currentIndex - 1 })" class="btn btn-primary" @(currentIndex == 0 ? "hidden" : "")>Anterior</a>
                    <a href="@Url.Action("Index", "Home", new { currentIndex = currentIndex + 1 })" class="btn btn-primary" @(currentIndex == Model.Posteos.Count - 1 ? "hidden" : "")>Siguiente</a>
                </div>
               
                
            </div>
        </div>
       
        

        
    }
    else
    {
        <p>No hay posteos disponibles.</p>
    }
</div>
<script>
    $(document).ready(function () {
        if (@TempData[FashionLike_Utilidades.WC.Exitoso] != null) {
            toastr.success("@TempData[WC.Exitoso]");
        }
        if (@TempData[FashionLike_Utilidades.WC.Error] != null) {
            toastr.error("@TempData[WC.Error]");
        }
    });
</script>